@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
main {
    flex-grow: 1;
}
/* pagina 404 */
.display-1 {
    margin-top: 10vh;
    font-size: 6rem;
    color: #ff5722;
    font-family: 'Bungee', cursive;
    font-weight: 700;
}

.lead1 {
    font-family: 'Bungee', cursive;
    font-size: 2rem;
}
.lead2 {
    font-family: 'Bungee', cursive;
}
.btn-volver {
    background: linear-gradient(150deg, #de4545, rgb(250, 115, 5));
    border-color: #ff5722;
    font-family: 'Bungee', cursive;
    color: aliceblue;
}
.btn-volver:hover {
    border-color: #fbff22;
}
.dude {
    max-width: 20%;
}
/* ajustes carousel */
.productoCarousel {
    height: 450px;
    object-fit: cover;
}
/* dispositivos md */
@media screen and (min-width:768px) and (max-width:991px) {
    .productoCarousel {
        height: 390px;
    }
}
/* dispositivos lg */
@media screen and (min-width:992px) {
    .productoCarousel {
        height: 700px;
    }
}
